{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock%}

{% block content%}
  <section class="hero is-info">
      <div class="hero-body">
          <div class="container has-text-centered">
              <h1 class="title">
                  Feeling lucky?
              </h1>
              <h2 class="subtitle">
                  Test your luck against the roll of the dice and win today
              </h2>
          </div>
      </div>
  </section>
  <section class="has-text-centered">
    <div class="columns">
      <div class="column">
          <i class="fas fa-band-aid fa-4x is-primary"></i>
          <h2>Place bets</h2>
          <p class="text-muted">Correctly guess the dice's roll.</p>
          <a href="" class="button is-primary">More</a>
      </div>
      <div class="column">
          <i class="fas fa-balance-scale fa-4x is-primary"></i>
          <h2>Place bets</h2>
          <p class="text-muted">Correctly guess the dice's roll.</p>
          <a href="" class="button is-primary">More</a>
      </div>
      <div class="column">
          <i class="fas fa-bomb fa-4x is-primary"></i>
          <h2>Place bets</h2>
          <p class="text-muted">Correctly guess the dice's roll.</p>
          <a href="" class="button is-primary">More</a>
      </div>
    </div>
  </section>
{% endblock %}