<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Project</strong> by <a href="https://github.com/mukasamedia">Mukasa Media</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p class="small">
                <a href="{{url_for('page.terms')}}">Terms</a> : 
                <a href="{{url_for('page.privacy')}}">Privacy</a>
                <a class="icon" href="https://github.com/mukasamedia/flask-starter">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>