<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="{{url_for('page.home')}}">
            <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="Project"> -->
            &nbsp; Project</a>
        <div class="navbar-burger burger" data-target="navMenu"><span></span><span></span><span></span></div>
    </div>
    <div class="navbar-menu" id="navMenu">
        
        <div class="navbar-end">
            
        </div>
    </div>
  </div>
  </nav>